@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
}

h1 {
	font-size: 50px;
	line-height: 64px;
	color: #222;
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h4 {
	font-size: 20px;
	color: #222;
}

h6 {
	font-weight: 700;
	font-size: 12px;
}

p {
	font-size: 16px;
	color: #465b52;
	margin: 15px 0 20px 0;
}

.section-p1 {
	padding: 40px 80px;
}

.section-m1 {
	margin: 40px 0;
}

.section-header {
	position: relative;
	margin-top: 60px;
}

.text-center {
	text-align: center;
}

body {
	width: 100%;
}

.clear {
	clear: both;
}

.wrapper {
	width: 100%;
	height: auto;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a
}

#navbar li a:hover,
#navbar li a.active {
	color: #088178;
}

#navbar li a.active::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

/* Home Page */

#hero {
	background-image: url("imgs/hero2.jpg");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 120px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#hero h4 {
	padding-bottom: 15px;
}

#hero h1 {
	color: #088178;
}

#hero a {
	background-image: url("imgs/button.png");
	background-color: transparent;
	color: #088178;
	border: 0;
	padding: 14px 80px 14px 65px;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 20px;
}

#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#feature .fe-box {
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7d0;
	border-radius: 4px;
	margin: 15px 0;
}

#feature .fe-box:hover {
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
	display: inline-block;
	padding: 18px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
}

.content {
	width: 100%;
	height: auto;
	margin-top: 2px;
}

.content_left {
	width: 23%;
	height: auto;
	border: 1px solid #D9D9D9;
	float: left;
	margin-top: 2px;
}

.hangbanchay {
	width: 100%;
	height: auto;
	text-align: center;
	list-style: none;
}

.hangbanchay li {
	width: 100%;
	height: auto;
	border-bottom: 1px dashed #30C;
	margin: auto;

}

/* .hangbanchay li:hover {
	background: #088178;

} */

.hangbanchay a {
	text-decoration: none;
	display: block;
}

.hangbanchay p {
	padding: 5px;
	color: skyblue;
	font-weight: bold;
}

.tintucsp {
	width: 100%;
	height: auto;
	list-style: none;
}

.tintucsp li {
	width: auto;
	height: auto;
	padding: 10px;
	border-bottom: 1px dashed #CCC;

}

.tintucsp a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.tintucsp li:hover {
	background: #088178;

}

.tieude {
	width: auto;
	height: 40px;
	background: #088178;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	color: #fff;
	line-height: 40px;
}

.box_list {
	width: 98%;
	height: auto;
	margin: 5px;
	padding-bottom: 20px;
}

.list {
	width: 100%;
	height: 100%;
	list-style: none;
}

.list li {
	width: auto;
	height: 20px;
	padding-left: 10px;
	padding-top: 5px;
	background: #F2F2F2;

}

.list li a {
	text-decoration: none;
	color: #000;
	display: block;
}

.list li:hover {
	background: #088178;
}

.content_right {
	width: 71%;
	height: auto;
	border: 1px solid #D9D9D9;
	float: right;
	margin-top: 2px;
}

.box_product {
	width: 98%;
	height: auto;

	margin: auto;

}

.product {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
	list-style: none;
	width: 98%;
	height: auto;
	margin: auto;
}

.product .pro {
	margin: 20px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
}

.product li {
	width: 217px;
	height: 300px;
	text-align: center;
	padding-top: 5px;
	float: left;
}

.product :hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.product .pro :hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.product a {
	text-decoration: none;
}

.product p {
	padding-top: 2px;
	color: #000;
	font-size: 18px;

}

.footer {
	width: 100%;
	height: 120px;
	border: 1px solid #000;
	background: #088178;
	margin-top: 5px;
}

/* chi tiet san pham*/
.box_chitietsp {
	width: 98%;
	height: 300px;

	margin: 2px;

}

.box_hinhanh {
	width: 35%;
	height: 300px;

	float: left;
}

.hinhanhphongto {
	width: 100%;
	height: 100px;
	list-style: none;
}

.hinhanhphongto li {
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 5px;
	border: 1px solid #CCC;
}

.box_info {
	width: 64%;
	height: 300px;
	border-left: 1px solid #000;
	float: right;
	padding-left: 5px;
}

.box_info p {
	margin: 10px;
}

.box_detail {
	width: 100%;
	height: 400px;

}

.button_dathang {
	width: 200px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 25px;
	margin: 10px;
	margin-top: 40px;

}

.button_dathang p {
	font-size: 20px;
	font-weight: bold;

	text-align: center;
	line-height: 40px;


}

.button_dathang a {
	color: #0C9;
	text-decoration: none;
	display: block;
}

.button_dathang:hover {
	background: #088178;
}

.sanphamlienquan {
	width: 100%;
	height: 250px;

}

.sanphamlienquan ul {
	width: auto;
	list-style: none;
	height: auto;
}

.sanphamlienquan ul li {
	width: 215px;
	height: auto;

	text-align: center;
	margin: 8px;
	float: left;
}

.sanphamlienquan a {
	text-decoration: none;
	color: skyblue;
}

.hinhanhsp {
	width: 100%;
	height: auto;
	margin: auto;
	list-style: none;
}

.hinhanhsp img {
	width: 600px;
	margin-top: 10px;
}

.hinhanhsp li {
	text-align: center;
}

/*Gio hang*/

.box_giohang {
	width: 98%;
	height: auto;


	margin: 2px;
}

.button_capnhapgiohang {
	width: 150px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #000;
	border-radius: 25px;
	margin: 5px;
	float: right;
}

.button_capnhapgiohang:hover {
	background: #0C3;
}

.button_capnhapgiohang a {
	display: block;
	color: red;
	font-size: 18px;
	text-decoration: none;
}

.control p {
	font-size: 18px;
	color: skyblue;
	margin: 10px;
	float: left;
	color: blue;
	text-decoration: none;
}

.control a {
	text-decoration: none;
}

.control a:hover {
	text-decoration: underline;

}

/*Dang ky*/
.thongbao {
	width: 100%;
	height: 200px;
	border: 1px solid #D9D9D9;
}

.thongbao p {
	font-size: 22px;
	color: red;
	margin: 2px;
}

.dangky tr td {
	padding: 5px;
}

.dangky input {
	width: 100%;
	height: 20px;
}

.ghichu textarea {
	width: 100%;
	height: 60px;
}

.ghichu p {
	margin: 5px;
	text-decoration: underline;
}

.button_gui {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	border: 25px;
}

.tabs_panel ul {
	list-style-type: none;
}

.tabs_panel .tabs li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
	background: #088178;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-weight: 200;
	cursor: pointer;
}

.tabs_panel ul li.active {
	color: #000;
	background: #9F0;
}

.tabs_panel .panel {
	display: none;
	background: #fff;
	color: #000;
	padding: 30px;
}

.tabs_panel .panel.active {
	display: block;
}

.scroll-to-top {
	display: fixed;
}